body{background:#161616;}
div#grand_totals{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 183, 229, 0.9) rgba(0, 0, 0, 0);
    border-image: none;
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 0 35px #2187E7;
    opacity: 0.9;
}
